.plataformas li, .social li a {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat; }

.destaque button {
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3); }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Geral */
html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto Slab", serif; }

.container {
  width: 940px;
  margin: 0 auto; }

.titulo-section {
  font-size: 2em;
  text-align: center; }

.sobre,
.conheca,
.contato {
  padding: 3em 0 6em 0; }

h2 {
  margin-top: 0; }

/* Header */
header {
  border-top: 5px solid #19ECB9;
  background: rgba(30, 40, 50, 0.8);
  height: 90px;
  width: 100%;
  position: absolute; }

header .container {
  position: relative; }
  header .container img {
    width: 50px; }

.menu-principal {
  position: absolute;
  right: 0;
  top: -.5em;
  font-size: 1.2em;
  font-weight: lighter; }
  .menu-principal ul {
    padding-left: 0; }
  .menu-principal li {
    display: inline-block;
    margin: 0 15px 0 15px; }
    .menu-principal li a {
      color: white;
      text-decoration: none; }
  .menu-principal a:hover {
    text-decoration: underline; }

/* Destaque */
.destaque {
  background: url(../imagens/banner.png) center bottom repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  height: 350px;
  padding-top: 10em; }
  .destaque p {
    width: 30em; }
  .destaque p:first-child {
    width: 30em;
    font-size: 1.3em;
    line-height: 1.1; }
  .destaque p:first-child:first-line {
    font-size: 2.2em;
    font-weight: bold; }
  .destaque button {
    margin-top: 1em;
    background: #18d3a4;
    border: 0;
    padding: .6em;
    font-size: 1.2em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    font-weight: bold; }
    .destaque button a {
      text-decoration: none;
      color: inherit; }

/* Sobre */
.sobre {
  background: #EBEBEB; }

.colunas {
  display: flex;
  justify-content: space-evenly; }
  .colunas h3 {
    margin: 0; }

.coluna-1,
.coluna-2 {
  width: 50%;
  margin: 0 55px 0 55px; }

.coluna-2 {
  text-align: center; }
  .coluna-2 img {
    margin-top: 5.5em;
    width: 120px;
    -webkit-animation: elastic 3s ease 0s infinite normal;
    -moz-animation: elastic 3s ease 0s infinite normal;
    -ms-animation: elastic 3s ease 0s infinite normal;
    animation: elastic 3s ease 0s infinite normal; }
@-webkit-keyframes elastic {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75); }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25); }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes elastic {
  0% {
    -ms-transform: scale(1);
    transform: scale(1); }
  30% {
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75); }
  40% {
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25); }
  60% {
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85); }
  100% {
    -ms-transform: scale(1);
    transform: scale(1); } }
.sobre p {
  font: 1em/1.8 sans-serif;
  margin-bottom: 1em; }

.plataformas {
  padding: 0; }
  .plataformas li {
    display: inline-block;
    width: 50px;
    height: 60px;
    background-position: center;
    margin: 1em 15px 0 15px; }
  .plataformas li:nth-child(1) {
    background-image: url(../imagens/logo-android.png);
    font-size: 0px; }
  .plataformas li:nth-child(2) {
    background-image: url(../imagens/logo-apple.png);
    font-size: 0px; }

/* Conheca */
.conheca {
  background: #162127; }
  .conheca h2 {
    color: #18daa9; }

.conhecendo ul {
  display: flex;
  justify-content: space-evenly; }
.conhecendo img {
  margin: 0 15px 15px 15px;
  border: 1px solid #19ECB9; }
.conhecendo img:hover {
  opacity: 0.8; }

/* Contato */
.contato input,
.contato button {
  display: block; }
.contato form {
  margin: 0 auto;
  width: 50%; }
.contato input,
.contato textarea {
  width: 100%;
  margin-bottom: .8em;
  padding: 4px 8px;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  border: 2px solid #CCCCCC; }
.contato button {
  margin: 0 auto;
  background: #18d3a4;
  border: 0;
  color: white;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3); }

/* Footer */
footer {
  display: block;
  position: relative; }
  footer a {
    color: white;
    text-decoration: none; }

footer::after {
  content: "";
  background: url(../imagens/bg.jpg);
  opacity: .02;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

footer::before {
  content: "";
  background: #162127;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

footer .container {
  padding-top: 3em;
  height: 6.5em;
  position: relative; }
  footer .container img {
    width: 76px; }

.menu-rodape,
.social {
  position: absolute; }

.menu-rodape {
  top: 1em;
  right: 0; }
  .menu-rodape ul li {
    display: inline-block;
    margin-left: 2em; }

.social {
  bottom: 0;
  right: 0; }
  .social li {
    float: left; }
    .social li a {
      display: block;
      width: 55px;
      height: 55px;
      margin-left: 1em; }
  .social a {
    background-position: top;
    background-size: 50px 50px; }

.menu-rodape li,
.social li {
  display: inline; }

.social a[href*="twitter"] {
  background-image: url(../imagens/twitter.png); }

.social a[href*="instagram"] {
  background-image: url(../imagens/instagram.png); }

.social a[href*="facebook"] {
  background-image: url(../imagens/facebook.png); }

/*# sourceMappingURL=style.css.map */
