// Mixins

@mixin borda-arredondada($raio: 10em) {
    -webkit-border-radius: $raio;
    border-radius: $raio
}

@mixin animacao {
  -webkit-animation:elastic 3s ease 0s infinite normal;
  -moz-animation:elastic 3s ease 0s infinite normal;
  -ms-animation:elastic 3s ease 0s infinite normal;
  animation:elastic 3s ease 0s infinite normal;
  
  @-webkit-keyframes elastic {
      0%{ -webkit-transform: scale(1); transform: scale(1); }
      30%{ -webkit-transform: scaleX(1.25) scaleY(0.75); transform: scaleX(1.25) scaleY(0.75); }
      40%{ -webkit-transform: scaleX(0.75) scaleY(1.25); transform: scaleX(0.75) scaleY(1.25); }
      60%{ -webkit-transform: scaleX(1.15) scaleY(0.85); transform: scaleX(1.15) scaleY(0.85); }
      100%{ -webkit-transform: scale(1); transform: scale(1); }
      };

  @keyframes elastic {
      0%{ -ms-transform: scale(1); transform: scale(1); }
      30%{ -ms-transform: scaleX(1.25) scaleY(0.75); transform: scaleX(1.25) scaleY(0.75); }
      40%{ -ms-transform: scaleX(0.75) scaleY(1.25); transform: scaleX(0.75) scaleY(1.25); }
      60%{ -ms-transform: scaleX(1.15) scaleY(0.85); transform: scaleX(1.15) scaleY(0.85); }
      100%{ -ms-transform: scale(1); transform: scale(1); }
      }
}
    
%image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

%sombra-padrao {
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}
