/* Conheca */

.conheca {
    background: $background;

    h2 {
        color: $sub-titulo;
    }
}

.conhecendo {
    ul {
        display: flex;
        justify-content: space-evenly;
    }

    img {
        margin: 0 15px 15px 15px;
        border: 1px solid $borda-img;
    }
    
    img:hover {
        opacity: 0.8;
    }
}
