/* Contato */

.contato {
    input,
    button {
        display: block;
    }

    form {
        margin: 0 auto;
        width: 50%;
    }

    input,
    textarea {
        width: 100%;
        margin-bottom: .8em;
        padding: 4px 8px;
        @include borda-arredondada(0.3em);
        border: 2px solid $borda-form;
    }

    button {
        margin: 0 auto;
        background: $botao;
        border: 0;
        color: white;
        width: 210px;
        height: 38px;
        font-size: 1.2em;
        @include borda-arredondada(0.3em);
        box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
    }
}