/* Destaque */

.destaque {
    background: url(../imagens/banner.png) center bottom repeat-x;
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
    height: 350px;
    padding-top: 10em;

    p {
        width: 30em;
    }

    p:first-child {
        width: 30em;
        font-size: 1.3em;
        line-height: 1.1;
    }

    p:first-child:first-line {
        font-size: 2.2em;
        font-weight: bold;
    }
    
    button {
        margin-top: 1em;
        background: $botao;
        border: 0;
        padding: .6em;
        font-size: 1.2em;
        @include borda-arredondada(0.3em);
        @extend %sombra-padrao;
        font-weight: bold;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}