/* Footer */

footer {
    display: block;
    position: relative;

    a {
        color: white;
        text-decoration: none;
    }
}

footer::after {
    content: "";
    background: url(../imagens/bg.jpg);
    opacity: .02;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

footer::before {
    content: "";
    background: $background;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

footer .container {
    padding-top: 3em;
    height: 6.5em;
    position: relative;

    img {
        width: 76px;
    }
}

.menu-rodape,
.social {
    position: absolute;
}

.menu-rodape {
    top: 1em;
    right: 0;

    ul li {
        display: inline-block;
        margin-left: 2em;
    }
}

.social {
    bottom: 0;
    right: 0;
    
    li {
        float: left;

        a {
            display: block;
            width: 55px;
            height: 55px;
            @extend %image-replacement;
            margin-left: 1em;
        }
    }

    a {
        background-position: top;
        background-size: 50px 50px;
    }
}

.menu-rodape li,
.social li {
    display: inline;
}

.social a[href*="twitter"] {
    background-image: url(../imagens/twitter.png);
}

.social a[href*="instagram"] {
    background-image: url(../imagens/instagram.png);
}

.social a[href*="facebook"] {
    background-image: url(../imagens/facebook.png);
}