/* Geral */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Slab", serif;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.titulo-section {
    font-size: 2em;
    text-align: center;
}

.sobre,
.conheca,
.contato {
    padding: 3em 0 6em 0;
}

h2 {
    margin-top: 0;
}