/* Header */

header {
    border-top: 5px solid $header;
    background: rgba(30, 40, 50, 0.8);
    height: 90px;
    width: 100%;
    position: absolute;
}

header .container {
    position: relative;
    img {
        width: 50px;
    }
}

.menu-principal {
    position: absolute;
    right: 0;
    top: -.5em;
    font-size: 1.2em;
    font-weight: lighter;

    ul {
        padding-left: 0;
    }

    li {
        display: inline-block;
        margin: 0 15px 0 15px;

        a{
            color: white;
            text-decoration: none;
        }
    }

    a:hover {
        text-decoration: underline;
    }
}