/* Sobre */

.sobre {
    background: #EBEBEB;
}

.colunas {
    display: flex;
    justify-content: space-evenly;

    h3 {
        margin: 0;
    }
}

.coluna-1,
.coluna-2 {
    width: 50%;
    margin: 0 55px 0 55px;
}

.coluna-2 {
    text-align: center;

    img {
        margin-top: 5.5em;
        width: 120px;
        @include animacao;
    }
}

.sobre p {
    font: 1em/1.8 sans-serif;
    margin-bottom: 1em;
}

.plataformas {
    padding: 0;

    li {
        display: inline-block;
        width: 50px;
        height: 60px;
        @extend %image-replacement;
        background-position: center;
        margin: 1em 15px 0 15px;
    }

    li:nth-child(1) {
        background-image: url(../imagens/logo-android.png);
        font-size: 0px;
    }

    li:nth-child(2) {
        background-image: url(../imagens/logo-apple.png);
        font-size: 0px;
    }
}